@import url(./fonts.css);

/* css reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fff;
  --secondary-color: #3d518f;
  --container-background-color: #c4def7;
  --light-color: #cef0d9;
  --dark-color: #808080;
  --least-opacity: rgba(128, 128, 128, 0.1);
  --most-opacity: rgba(128, 128, 128, 0.5);
  --primary-font: "vazirmatn";
  --large-gap: 0.5rem;
  --medium-gap: 0.25rem;
  --small-gap: 0.125rem;
  --extra-large-font-size: 2rem;
  --large-font-size: 1.2rem;
  --medium-font-size: 1rem;
  --small-font-size: 0.8rem;
  --extra-small-font-size: 0.6rem;
  --extra-large-border-radius: 1.5rem;
  --large-border-radius: 1rem;
  --medium-border-radius: 0.75rem;
  --small-border-radius: 0.5rem;
  --extra-small-border-radius: 0.25rem;
}

body {
  background-color: var(--container-background-color);
  font-family: var(--primary-font);
  direction: rtl;
}

input,
select {
  font-family: var(--primary-font);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1124px;
  /* height: 100vh; */
  margin: 0 auto;
}

.app-navbar {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.app-navbar a {
  padding-right: 10px;
  font-size: var(--extra-large-font-size);
  color: var(--primary-color);
  display: flex;
  transition: 0.5s;
}

.app-navbar a:hover {
  color: var(--secondary-color);
}

.app-navbar span {
  font-size: var(--extra-large-font-size);
}

main {
  width: 100%;
  /* height: calc(100vh - 100px); */
  height: 540px;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr);
  /* grid-template-rows: max(1fr); */
  grid-template-areas: "Todo Search-and-Bookmarks Time-and-Weather";
  gap: var(--large-gap);
}

.to-do {
  grid-area: Todo;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: var(--extra-large-border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.to-do-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  font-weight: bold;
  border-bottom: 1px solid var(--least-opacity);
}

.to-do-header h1 {
  font-size: var(--large-font-size);
  font-weight: bold;
}

.to-do-header span {
  font-size: var(--medium-font-size);
  font-weight: bold;
  padding: 8px;
  color: var(--secondary-color);
  background-color: var(--least-opacity);
  border-radius: var(--small-border-radius);
  cursor: pointer;
}

.to-do-list-wrapper {
  height: 100%;
  padding: 8px;
}

.to-do-list {
  /* max-height: calc(100vh - 240px); */
  max-height: 398px;
  overflow: auto;
}

.to-do-item {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--large-gap);
  border: 1px solid var(--least-opacity);
  padding: 5px;
  border-radius: var(--medium-border-radius);
  font-size: var(--medium-font-size);
}

.to-do-item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.to-do-box {
  width: 1rem;
  height: 1rem;
  background-color: var(--light-color);
  border: 1px solid #60ce83;
  border-radius: var(--extra-small-border-radius);
}

.to-do-delete-icon {
  position: absolute;
  left: 4px;
  display: flex;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.to-do-delete-operation {
  position: absolute;
  left: 20px;
  display: flex;
  align-items: center;
  gap: var(--small-gap);
  transform: scaleX(0);
  transform-origin: left center;
  transition: 0.5s;
}

.show-delete-option {
  transform: scaleX(1);
  transform-origin: left center;
}

.to-do-delete-icon {
  font-size: var(--large-font-size);
  color: var(--most-opacity);
  padding: 5px 0;
  cursor: pointer;
  transition: 0.5s;
}

.to-do-delete-icon:hover {
  color: var(--dark-color);
}

.to-do-item:hover .to-do-delete-icon {
  visibility: visible;
  opacity: 1;
}

.task-delete-confirm,
.task-delete-cancel {
  font-size: var(--large-font-size);
  padding: 2px;
  border-radius: var(--extra-small-border-radius);
  transition: 0.5s;
}

.task-delete-confirm:hover,
.task-delete-cancel:hover {
  background-color: var(--light-color);
}

.to-do-title {
  max-width: 50%;
  display: inline-block;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-size: var(--medium-font-size);
}

.to-do-footer {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  border-top: 1px solid var(--least-opacity);
}

.to-do-input-form {
  display: flex;
  justify-content: center;
  position: relative;
}

.to-do-input {
  padding: 5px;
  width: 95%;
  border-radius: var(--small-border-radius);
  outline: 0;
  border: 1px solid var(--least-opacity);
}

.add-task-button {
  width: 33px;
  height: 33px;
  position: absolute;
  left: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.add-task-icon {
  color: var(--most-opacity);
}

.add-task-button:hover .add-task-icon {
  color: var(--dark-color);
}

.to-do-input-form span::placeholder {
  color: var(--most-opacity);
}

.to-do-alert-wrapper {
  position: absolute;
  display: flex;
  align-items: flex-end;
  gap: var(--medium-gap);
  width: 95%;
  padding: 5px;
  border-radius: var(--small-border-radius);
  backdrop-filter: blur(10px);
  background: linear-gradient(
    to right bottom,
    var(--most-opacity),
    var(--least-opacity)
  );
  border: 1px solid var(--most-opacity);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.to-do-alert-text {
  font-size: var(--small-font-size);
  text-align: center;
}

.to-do-alert-icon {
  color: #ff0000;
}

.search-bookmarks {
  grid-area: Search-and-Bookmarks;
}

.search-wrapper {
  position: relative;
  background-color: var(--primary-color);
  border-radius: var(--extra-large-border-radius);
  margin-bottom: 10px;
}

.search-form {
  padding: 25px;
}

.search-input {
  width: 100%;
  padding: 13px;
  font-size: var(--medium-font-size);
  padding-right: 40px;
  border-radius: var(--extra-large-border-radius);
  border: none;
  outline: 0;
  background-color: #f3f4f6;
}

.search-input::placeholder {
  font-size: var(--medium-font-size);
}

.search-logo {
  height: 27px;
  width: 27px;
  position: absolute;
  right: 32px;
  top: 37px;
}

.google-blue-path {
  fill: #4285f4;
}

.google-green-path {
  fill: #34a853;
}

.google-yellow-path {
  fill: #fbbc05;
}

.google-red-path {
  fill: #eb4335;
}

.search-icon {
  position: absolute;
  left: 32px;
  top: 33px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 5px 12px;
  border-radius: var(--extra-large-border-radius);
  cursor: pointer;
}

.bookmarks-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--large-gap);
}

.bookmark-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 85px;
  background-color: var(--primary-color);
  border-radius: var(--large-border-radius);
  border: 1px solid var(--primary-color);
  transition: 0.5s;
  cursor: pointer;
}

.bookmark-item:hover {
  border: 1px solid var(--secondary-color);
}

.bookmark-item .bookmark-apps,
.bookmark-item .add-new-bookmark {
  font-size: var(--extra-large-font-size);
  font-weight: bold;
}

.bookmark-item .bookmark-apps {
  color: var(--secondary-color);
}

.bookmark-item .add-new-bookmark {
  color: var(--most-opacity);
}

.bookmark-item img {
  width: 35px;
  height: 35px;
}

.bookmark-item p {
  width: 100%;
  padding: 0 5px;
  text-align: center;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.time-weather {
  grid-area: Time-and-Weather;
  /* display: flex;
  justify-content: center; */
  background-color: var(--primary-color);
  height: 289px;
  border-radius: var(--extra-large-border-radius);
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.time-wrapper,
.weather-wrapper {
  height: 165px;
  border-bottom: 1px solid var(--least-opacity);
  padding: 8px 6px;
}

.time-weather-error {
  text-align: center;
}

.time-wrapper {
  border-left: 1px solid var(--least-opacity);
}

.time-wrapper,
.weather-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--medium-gap);
}

.time-digits {
  color: #266df7;
  font-size: var(--extra-large-font-size);
  font-weight: 900;
}

.date-shamsi {
  font-size: var(--small-font-size);
  font-weight: 600;
}

.date-other-calendar-wrapper,
.temperature-min-max-wrapper {
  display: flex;
  text-align: center;
  align-items: center;
  color: var(--dark-color);
  gap: var(--medium-gap);
}

.date-other-calendar-wrapper {
  font-size: var(--extra-small-font-size);
  height: 32px;
}

.time-vertical-bar {
  height: 12px;
  border-left: 1px solid var(--dark-color);
}

.timer-praying-timetable-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--medium-gap);
  flex-wrap: wrap;
}

.timer,
.praying-timetable,
.temperature-forecast {
  font-size: var(--extra-small-font-size);
  font-weight: 500;
  color: var(--dark-color);
  border-radius: var(--extra-large-border-radius);
  border: 1px solid var(--least-opacity);
  outline: 0;
  padding: 3px 0;
}

.temperature-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--large-gap);
}

.temperature-digits {
  font-size: var(--extra-large-font-size);
  font-weight: 900;
  color: #9da0af;
}

.temperature-emoji-wrapper {
  height: 50px;
  width: 50px;
  position: relative;
}

.temperature-emoji {
  position: absolute;
  right: -10px;
  top: -10px;
}

.temperature-description-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--small-gap);
}

.temperature-description-text {
  font-size: var(--small-font-size);
  font-weight: 600;
}

.temperature-description-emoji {
  font-size: var(--small-font-size);
}

.temperature-min-max-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.temperature-min-max-wrapper {
  font-size: 0.7rem;
  height: 32px;
}

.max-temperature-wrapper,
.min-temperature-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--small-gap);
}

.max-temperature-digits,
.min-temperature-digits {
  font-weight: bold;
}

/* Scroll bar style */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-top-left-radius: var(--extra-large-border-radius);
  border-bottom-left-radius: var(--extra-large-border-radius);
}

::-webkit-scrollbar-track {
  backdrop-filter: blur(10px);
  background: linear-gradient(
    to right bottom,
    var(--container-background-color),
    var(--light-color)
  );
}

::-webkit-scrollbar-thumb {
  background: var(--dark-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}
