@import url(./fonts.css);

/* css reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fff;
  --secondary-color: #3d518f;
  --container-background-color: #c4def7;
  --light-color: #cef0d9;
  --dark-color: #808080;
  --least-opacity: rgba(128, 128, 128, 0.1);
  --medium-opacity: rgba(128, 128, 128, 0.25);
  --most-opacity: rgba(128, 128, 128, 0.5);
  --primary-font: "vazirmatn";
  --extra-large-gap: 1rem;
  --large-gap: 0.5rem;
  --medium-gap: 0.25rem;
  --small-gap: 0.125rem;
  --largest-font-size: 2rem;
  --extra-large-font-size: 1.5rem;
  --large-font-size: 1.2rem;
  --medium-font-size: 1rem;
  --small-font-size: 0.9rem;
  --extra-small-font-size: 0.8rem;
  --smallest-font-size: 0.6rem;
  --extra-large-border-radius: 1.5rem;
  --large-border-radius: 1rem;
  --medium-border-radius: 0.75rem;
  --small-border-radius: 0.5rem;
  --extra-small-border-radius: 0.25rem;
  --default-transition-time: 0.5s;
}

body {
  background-color: var(--container-background-color);
  font-family: var(--primary-font);
  direction: rtl;
}

input,
select {
  font-family: var(--primary-font);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.d-flex {
  display: flex;
}

.container {
  max-width: 1124px;
  margin: 0 auto;
}

.app-navbar {
  padding: 0.5rem;
  align-items: center;
  justify-content: flex-end;
}

.app-navbar a {
  padding-right: 0.75rem;
  color: var(--primary-color);
  transition: var(--default-transition-time);
}

.app-navbar a:hover {
  color: var(--secondary-color);
}

.app-navbar span {
  font-size: var(--largest-font-size);
}

main {
  height: calc(100vh - 96px);
  max-height: 670px;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr);
  grid-template-rows: 1fr 6fr;
  grid-template-areas:
    "Todo Search Time-and-Weather"
    "Todo Bookmarks Time-and-Weather";
  gap: var(--large-gap);
}

.to-do {
  grid-area: Todo;
  background-color: var(--primary-color);
  border-radius: var(--extra-large-border-radius);
  flex-direction: column;
  justify-content: space-between;
}

.to-do-header {
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  border-bottom: 1px solid var(--medium-opacity);
}

.to-do-header h1 {
  font-size: var(--large-font-size);
}

.to-do-header span {
  font-size: var(--medium-font-size);
  font-weight: bold;
  padding: 0.5rem;
  color: var(--secondary-color);
  background-color: var(--least-opacity);
  border-radius: var(--small-border-radius);
  cursor: pointer;
}

.to-do-list-wrapper {
  padding: 0.5rem;
}

.to-do-list {
  height: calc(100vh - 221px);
  max-height: 540px;
  overflow: auto;
}

.to-do-item {
  position: relative;
  width: 100%;
  align-items: center;
  gap: var(--large-gap);
  border: 1px solid var(--medium-opacity);
  padding: 0.25rem;
  border-radius: var(--medium-border-radius);
}

.to-do-item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.to-do-box {
  width: 1rem;
  height: 1rem;
  background-color: var(--light-color);
  border: 1px solid #60ce83;
  border-radius: var(--extra-small-border-radius);
}

.to-do-delete-icon {
  position: absolute;
  left: 0;
  align-items: center;
  font-size: var(--large-font-size);
  color: var(--most-opacity);
  padding: 0.25rem;
  cursor: pointer;
  transition: var(--default-transition-time);
  visibility: hidden;
  opacity: 0;
}

.to-do-delete-icon:hover {
  color: var(--dark-color);
}

.to-do-item:hover .to-do-delete-icon {
  visibility: visible;
  opacity: 1;
}

.to-do-delete-operation {
  position: absolute;
  left: 28px;
  align-items: center;
  gap: var(--small-gap);
  transform: scaleX(0);
  transform-origin: left center;
  transition: var(--default-transition-time);
}

.show-delete-option {
  transform: scaleX(1);
  transform-origin: left center;
}

.task-delete-confirm,
.task-delete-cancel {
  font-size: var(--large-font-size);
  padding: 0.125rem;
  border-radius: var(--extra-small-border-radius);
  transition: var(--default-transition-time);
}

.task-delete-confirm:hover,
.task-delete-cancel:hover {
  background-color: var(--light-color);
}

.to-do-title {
  max-width: 50%;
  display: inline-block;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-size: var(--medium-font-size);
}

.to-do-footer {
  width: 100%;
  padding: 0.5rem;
  margin: 0 auto;
  border-top: 1px solid var(--medium-opacity);
}

.to-do-input-form {
  justify-content: center;
  position: relative;
}

#to-do-input {
  padding: 0.25rem;
  width: 95%;
  border-radius: var(--small-border-radius);
  outline: 0;
  border: 1px solid var(--medium-opacity);
}

#to-do-input::placeholder {
  color: var(--most-opacity);
}

.add-task-button {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 3%;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.add-task-icon {
  color: var(--most-opacity);
}

.add-task-button:hover .add-task-icon {
  color: var(--dark-color);
}

.to-do-alert-wrapper {
  position: absolute;
  align-items: flex-end;
  gap: var(--medium-gap);
  width: 95%;
  padding: 0.25rem;
  border-radius: var(--small-border-radius);
  backdrop-filter: blur(10px);
  background: linear-gradient(
    to right bottom,
    var(--most-opacity),
    var(--least-opacity)
  );
  border: 1px solid var(--most-opacity);
  visibility: hidden;
  opacity: 0;
  transition: var(--default-transition-time);
}

.to-do-alert-text {
  font-size: var(--extra-small-font-size);
  text-align: center;
}

.to-do-alert-icon {
  color: #ff0000;
}

.search-wrapper {
  grid-area: Search;
  position: relative;
  background-color: var(--primary-color);
  border-radius: var(--extra-large-border-radius);
}

.search-form {
  padding: 25px;
}

.search-input {
  width: 100%;
  padding: 0.75rem;
  font-size: var(--medium-font-size);
  padding-right: 2.5rem;
  border-radius: var(--extra-large-border-radius);
  border: none;
  outline: 0;
  background-color: #f3f4f6;
}

.search-input::placeholder {
  font-size: var(--medium-font-size);
}

.search-logo {
  height: 27px;
  width: 27px;
  position: absolute;
  right: 32px;
  top: 36px;
}

.search-icon {
  position: absolute;
  left: 32px;
  top: 33px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 0.25rem 0.75rem;
  border-radius: var(--extra-large-border-radius);
  cursor: pointer;
}

.bookmarks-wrapper {
  grid-area: Bookmarks;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: max-content;
  gap: var(--large-gap);
}

.bookmark-item {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 85px;
  background-color: var(--primary-color);
  border-radius: var(--large-border-radius);
  border: 1px solid var(--primary-color);
  transition: var(--default-transition-time);
  cursor: pointer;
}

.bookmark-item:hover {
  border: 1px solid var(--secondary-color);
}

.bookmark-item .bookmark-apps,
.bookmark-item .add-new-bookmark {
  font-size: var(--largest-font-size);
  font-weight: bold;
}

.bookmark-item .bookmark-apps {
  color: var(--secondary-color);
}

.bookmark-item .add-new-bookmark {
  color: var(--most-opacity);
}

.bookmark-item img {
  width: 35px;
  height: 35px;
}

.bookmark-item p {
  width: 100%;
  padding: 0 0.25rem;
  text-align: center;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.time-weather {
  grid-area: Time-and-Weather;
  background-color: var(--primary-color);
  height: 287px;
  border-radius: var(--extra-large-border-radius);
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.time-wrapper,
.weather-wrapper {
  height: 165px;
  border-bottom: 1px solid var(--least-opacity);
  padding: 8px 6px;
}

.time-weather-error {
  text-align: center;
}

.time-wrapper {
  border-left: 1px solid var(--least-opacity);
}

.time-wrapper,
.weather-wrapper {
  flex-direction: column;
  align-items: center;
  gap: var(--medium-gap);
}

.time-digits {
  color: #266df7;
  font-size: var(--largest-font-size);
  font-weight: 900;
}

.date-shamsi {
  font-size: var(--extra-small-font-size);
  font-weight: 600;
}

.date-other-calendar-wrapper,
.temperature-min-max-wrapper {
  text-align: center;
  align-items: center;
  color: var(--dark-color);
  gap: var(--medium-gap);
}

.date-other-calendar-wrapper {
  font-size: var(--smallest-font-size);
  height: 2rem;
}

.time-vertical-bar {
  height: 0.75rem;
  border-left: 1px solid var(--dark-color);
}

.timer-praying-timetable-wrapper {
  align-items: center;
  justify-content: center;
  gap: var(--medium-gap);
  flex-wrap: wrap;
}

.timer,
.praying-timetable,
.temperature-forecast {
  font-size: var(--smallest-font-size);
  font-weight: 500;
  color: var(--dark-color);
  border-radius: var(--extra-large-border-radius);
  border: 1px solid var(--least-opacity);
  outline: 0;
  padding: 0.25rem 0;
}

.temperature-wrapper {
  align-items: center;
  justify-content: center;
  gap: var(--large-gap);
}

.temperature-digits {
  font-size: var(--largest-font-size);
  font-weight: 900;
  color: #9da0af;
}

.temperature-emoji-wrapper {
  height: 50px;
  width: 50px;
  position: relative;
}

.temperature-emoji {
  position: absolute;
  right: -10px;
  top: -10px;
}

.temperature-description-wrapper {
  justify-content: center;
  align-items: center;
  gap: var(--small-gap);
}

.temperature-description-text {
  font-size: var(--extra-small-font-size);
  font-weight: 600;
}

.temperature-description-emoji {
  font-size: var(--extra-small-font-size);
}

.temperature-min-max-wrapper {
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  height: 2rem;
}

.max-temperature-wrapper,
.min-temperature-wrapper {
  justify-content: center;
  align-items: center;
  gap: var(--small-gap);
}

.max-temperature-digits,
.min-temperature-digits {
  font-weight: bold;
}

/* Scroll bar style */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-top-left-radius: var(--extra-large-border-radius);
  border-bottom-left-radius: var(--extra-large-border-radius);
}

::-webkit-scrollbar-track {
  backdrop-filter: blur(10px);
  background: linear-gradient(
    to right bottom,
    var(--container-background-color),
    var(--light-color)
  );
}

::-webkit-scrollbar-thumb {
  background: var(--dark-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

/* Desktops and large screens*/
@media (max-width: 1200px) {
  .container {
    max-width: 950px;
  }

  main {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: max-content;
    grid-template-areas:
      "Search Search"
      "Bookmarks Bookmarks"
      "Todo Time-and-Weather";
    height: auto;
    gap: var(--large-gap);
  }

  .search-form {
    padding: 1.25rem;
  }

  .search-input {
    padding: 0.75rem;
    font-size: var(--small-font-size);
    font-weight: 300;
    padding-right: 2.5rem;
  }

  .search-input::placeholder {
    font-size: var(--small-font-size);
    font-weight: 300;
  }

  .search-logo {
    height: 22px;
    width: 22px;
    top: 34px;
  }

  .search-icon {
    top: 26px;
  }

  .bookmark-item {
    width: auto;
    height: 80px;
  }

  .bookmark-item .bookmark-apps,
  .bookmark-item .add-new-bookmark {
    font-size: var(--extra-large-font-size);
  }

  .bookmark-item img,
  .add-task-button {
    width: 30px;
    height: 30px;
  }

  .bookmark-item p {
    font-size: var(--extra-small-font-size);
  }

  .to-do,
  .time-weather {
    height: 300px;
  }

  .to-do-header {
    padding: 0.5rem;
  }

  .to-do-header h1 {
    font-size: var(--medium-font-size);
  }

  .to-do-list {
    height: 182px;
  }

  .to-do-title,
  #to-do-input,
  #to-do-input::placeholder {
    font-size: var(--extra-small-font-size);
  }

  .to-do-alert-wrapper {
    justify-content: center;
  }

  .time-digits,
  .temperature-digits {
    font-size: var(--extra-large-font-size);
    height: 50px;
    align-items: center;
  }

  .temperature-emoji-wrapper img {
    height: 50px;
    width: 50px;
  }

  .temperature-emoji {
    top: -2px;
  }
}

/* Laptops and Small screens*/
@media (max-width: 1024px) {
  .container {
    max-width: 720px;
  }
}

/* iPads, Tablets*/
@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }

  main {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "Search"
      "Time-and-Weather"
      "Bookmarks"
      "Todo";
    gap: var(--extra-large-gap);
  }

  .bookmarks-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .to-do {
    height: 478px;
  }

  .to-do-list {
    height: 360px;
  }

  .to-do-item {
    padding: 8px;
  }
}

/* Mobile*/
@media (max-width: 574px) {
  .container {
    max-width: 95%;
  }
}
