@import url(./fonts.css);

/* css reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #c4def7;
  font-family: "vazirmatn";
  direction: rtl;
}

input {
  font-family: "vazirmatn";
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1124px;
  height: 100vh;
  margin: 0 auto;
}

.app-navbar {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.app-navbar a {
  padding-right: 10px;
  font-size: 2rem;
  color: white;
  display: flex;
  transition: 0.5s;
}

.app-navbar a:hover {
  color: #3d518f;
}

.app-navbar span {
  font-size: 2rem;
}

main {
  width: 100%;
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr);
  grid-template-rows: max(1fr);
  grid-template-areas: "Todo Search-and-Bookmarks Time-and-Weather";
  gap: 16px;
}

.to-do {
  grid-area: Todo;
  height: 100%;
  background-color: white;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.to-do-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-weight: bold;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.to-do-header h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.to-do-header span {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  color: #3d518f;
  background-color: rgba(128, 128, 128, 0.15);
  border-radius: 8px;
}

.to-do-list-wrapper {
  height: 100%;
  padding: 8px;
}

.to-do-list {
  max-height: calc(100vh - 240px);
  /* background-color: red; */
  overflow: auto;
}

.to-do-item {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  padding: 5px;
  border-radius: 12px;
  font-size: 1rem;
}

.to-do-item:not(:last-child) {
  margin-bottom: 9px;
}

.to-do-box {
  width: 18px;
  height: 18px;
  background-color: #cef0d9;
  border: 1px solid #60ce83;
  border-radius: 4px;
}

.to-do-icon-wrapper {
  position: absolute;
  left: 4px;
  display: flex;
  gap: 5px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.to-do-delete-icon,
.to-do-edit-icon {
  font-size: 1.5rem;
  color: rgba(128, 128, 128, 0.6);
  padding: 5px 0;
  cursor: pointer;
  transition: 0.5s;
}

.to-do-delete-icon:hover,
.to-do-edit-icon:hover {
  color: rgba(128, 128, 128, 0.9);
}

.to-do-item:hover .to-do-icon-wrapper {
  visibility: visible;
  opacity: 1;
}

.to-do-title {
  max-width: 50%;
  display: inline-block;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
}

.to-do-footer {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  border-top: 1px solid rgba(128, 128, 128, 0.3);
}

.to-do-input-form {
  display: flex;
  justify-content: center;
  position: relative;
}

.to-do-input {
  padding: 5px;
  width: 95%;
  border-radius: 8px;
  outline: 0;
  border: 1px solid rgba(128, 128, 128, 0.3);
}

.add-task-button {
  width: 33px;
  height: 33px;
  position: absolute;
  left: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.add-task-icon {
  color: rgba(128, 128, 128, 0.6);
}

.add-task-button:hover .add-task-icon {
  color: rgb(128, 128, 128);
}

.to-do-input-form span::placeholder {
  color: rgba(128, 128, 128, 0.3);
}

.to-do-alert-wrapper {
  position: absolute;
  display: flex;
  align-items: flex-end;
  gap: 5px;
  width: 95%;
  padding: 5px;
  border-radius: 8px;
  backdrop-filter: blur(10px);
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.1)
  );
  border: 1px solid rgba(128, 128, 128, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.to-do-alert-text {
  font-size: 0.8rem;
  text-align: center;
}

.to-do-alert-icon {
  color: red;
}

.search-bookmarks {
  grid-area: Search-and-Bookmarks;
}

.search-wrapper {
  position: relative;
  background-color: white;
  border-radius: 24px;
  margin-bottom: 10px;
}

.search-form {
  padding: 25px;
}

.search-input {
  width: 100%;
  padding: 13px;
  font-size: 1rem;
  padding-right: 40px;
  border-radius: 24px;
  border: none;
  outline: 0;
  background-color: #f3f4f6;
}

.search-input::placeholder {
  font-size: 1rem;
}

.search-logo {
  height: 27px;
  width: 27px;
  position: absolute;
  right: 32px;
  top: 37px;
}

.google-blue-path {
  fill: #4285f4;
}

.google-green-path {
  fill: #34a853;
}

.google-yellow-path {
  fill: #fbbc05;
}

.google-red-path {
  fill: #eb4335;
}

.search-icon {
  position: absolute;
  left: 32px;
  top: 33px;
  color: white;
  background-color: #3d518f;
  padding: 5px 12px;
  border-radius: 24px;
  cursor: pointer;
}

.bookmarks-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.bookmark-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 82px;
  background-color: white;
  border-radius: 16px;
  border: 1px solid white;
  transition: 0.5s;
  cursor: pointer;
}

.bookmark-item:hover {
  border: 1px solid #3d518f;
}

.bookmark-item .bookmark-apps,
.bookmark-item .add-new-bookmark {
  font-size: 1.8rem;
  font-weight: bold;
}

.bookmark-item .bookmark-apps {
  color: #3d518f;
}

.bookmark-item .add-new-bookmark {
  color: #babdc6;
}

.bookmark-item img {
  width: 35px;
  height: 35px;
}

.bookmark-item p {
  width: 100%;
  padding: 0 5px;
  text-align: center;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.time-weather {
  grid-area: Time-and-Weather;
  display: flex;
  background-color: white;
  height: 285px;
  border-radius: 24px;
}

.time-wrapper,
.weather-wrapper {
  height: 220px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  padding: 10px 6px;
}

.time-wrapper {
  border-left: 1px solid rgba(128, 128, 128, 0.3);
}

.time-wrapper,
.weather-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.time-digits {
  color: #266df7;
  font-size: 2rem;
  font-weight: 900;
}

.today-date-farsi {
  font-size: 1.2rem;
  font-weight: 800;
}

.date-other-languages-wrapper,
.temperature-min-max-wrapper {
  display: flex;
  align-items: flex-start;
  text-align: center;
  color: #9da0af;
  gap: 5px;
}

.date-other-languages-wrapper {
  font-size: 0.7rem;
}

.time-vertical-bar {
  height: 10px;
  border-left: 1px solid #9da0af;
}

.timer-praying-timetable-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}

.timer,
.praying-timetable,
.temperature-forecast {
  font-family: "vazirmatn";
  font-weight: 500;
  color: #535c80;
  border-radius: 24px;
  border: 1px solid #e0e0e0;
  outline: 0;
  padding: 3px 0;
}

.temperature-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.temperature-digits {
  font-size: 2rem;
  font-weight: 900;
  color: #9da0af;
}

.temperature-emoji {
  font-size: 1.5rem;
}

.temperature-description-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.temperature-description-text {
  font-size: 1rem;
  font-weight: 800;
}

.temperature-min-max-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.temperature-min-max-wrapper {
  font-size: 0.9rem;
}

.max-temperature-wrapper,
.min-temperature-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

/* Scroll bar style */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

::-webkit-scrollbar-track {
  backdrop-filter: blur(10px);
  background: linear-gradient(to right bottom, #c4def7, #c4def7);
}

::-webkit-scrollbar-thumb {
  background: rgb(128, 128, 128);
}

::-webkit-scrollbar-thumb:hover {
  background: #535c80;
}
