.to-do {
  grid-area: Todo;
  background-color: var(--primary-color);
  border-radius: var(--extra-large-border-radius);
}

.to-do-header {
  padding: 0.7rem;
  border-bottom: 1px solid var(--medium-opacity);
}

.to-do-header h1 {
  font-size: var(--large-font-size);
}

.to-do-header span {
  font-size: var(--medium-font-size);
  font-weight: bold;
  padding: 0.5rem;
  color: var(--secondary-color);
  background-color: var(--least-opacity);
  border-radius: var(--small-border-radius);
  cursor: pointer;
}

.to-do-list-wrapper {
  padding: 0.5rem;
}

.to-do-list {
  height: calc(100vh - 221px);
  max-height: 540px;
  overflow: auto;
}

.to-do-item {
  position: relative;
  width: 100%;
  gap: var(--large-gap);
  border: 1px solid var(--medium-opacity);
  padding: 0.25rem;
  border-radius: var(--medium-border-radius);
}

.to-do-item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.to-do-box {
  width: 1rem;
  height: 1rem;
  background-color: var(--light-color);
  border: 1px solid var(--to-do-box-color);
  border-radius: var(--extra-small-border-radius);
}

.to-do-delete-icon {
  position: absolute;
  left: 0;
  font-size: var(--large-font-size);
  color: var(--most-opacity);
  padding: 0.25rem;
  cursor: pointer;
  transition: var(--default-transition-time);
  visibility: hidden;
  opacity: 0;
}

.to-do-delete-icon:hover {
  color: var(--dark-color);
}

.to-do-item:hover .to-do-delete-icon {
  visibility: visible;
  opacity: 1;
}

.to-do-delete-operation {
  position: absolute;
  left: 28px;
  gap: var(--small-gap);
  transform: scaleX(0);
  transform-origin: left center;
  transition: var(--default-transition-time);
}

.show-delete-option {
  transform: scaleX(1);
  transform-origin: left center;
}

.task-delete-confirm,
.task-delete-cancel {
  font-size: var(--large-font-size);
  padding: 0.125rem;
  border-radius: var(--extra-small-border-radius);
  transition: var(--default-transition-time);
}

.task-delete-confirm:hover,
.task-delete-cancel:hover {
  background-color: var(--light-color);
}

.to-do-title {
  max-width: 50%;
  display: inline-block;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-size: var(--medium-font-size);
}

.to-do-footer {
  width: 100%;
  padding: 0.5rem;
  margin: 0 auto;
  border-top: 1px solid var(--medium-opacity);
}

.to-do-input-form {
  position: relative;
}

#to-do-input {
  padding: 0.25rem;
  width: 95%;
  border-radius: var(--small-border-radius);
  outline: 0;
  border: 1px solid var(--medium-opacity);
}

#to-do-input::placeholder {
  color: var(--most-opacity);
}

.add-task-button {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 3%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.add-task-icon {
  color: var(--most-opacity);
}

.add-task-button:hover .add-task-icon {
  color: var(--dark-color);
}

.to-do-alert-wrapper {
  position: absolute;
  align-items: flex-end;
  gap: var(--medium-gap);
  width: 95%;
  padding: 0.25rem;
  border-radius: var(--small-border-radius);
  backdrop-filter: blur(10px);
  background: linear-gradient(
    to right bottom,
    var(--most-opacity),
    var(--least-opacity)
  );
  border: 1px solid var(--most-opacity);
  visibility: hidden;
  opacity: 0;
  transition: var(--default-transition-time);
}

.to-do-alert-text {
  font-size: var(--extra-small-font-size);
  text-align: center;
}

.to-do-alert-icon {
  color: var(--warning-color);
}
